/* General styles for the page */
body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #ffffff;
    margin: 0;
    height: 100vh;
}

/* Style for the heading */
h1 {
    margin-top: 20px;
    color: #333;
}

/* Styling the form */
form {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    /* background-color: #fff; */
    /* border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    margin-top: 40px;
}

/* Style for input fields and select dropdown */
input[type="text"], input[type="file"], select, input[type="color"] {
    padding: 10px;
    width: 100%;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Style for the submit button */
button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}

/* Magazine cover container styles */
.magazine-cover {
    position: relative;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-color: #f4f4f4;  /* Fallback color */
    margin-top: 40px;
}

/* Text styling within the magazine cover */
.magazine-text {
    color: white;
    position: absolute;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    padding: 20px;
}

/* Title text style */
.magazine-title {
    font-size: var(--font-size);
    color: var(--font-color);
    margin: 0;
}

/* Subtitle text style */
.magazine-subtitle {
    font-size: 20px;
    color: var(--font-color);
    margin: 0;
}
